h1{
    font-size: 50px;
    font-weight: 10px;
    text-shadow:2px solid black;
    text-align: center;
    color:darkblue
}
.uks{
    text-align: center;
    background-color: rgb(238, 43, 180);
    padding: 20px;
    border: 1px;
}
form{
    display: inline;
    margin-top: 10px;
}
.uks1{
    font-size:25px;
    padding: 3px;
}
.uks2:hover{
background-color: brown;
cursor: pointer;
}